# =====================================
# VS CODE
# =====================================
.vscode/*
  
# =====================================  
# VS Code lokalne dane użytkownika
# =====================================
.history/
*.code-workspace
*.workspace
# =====================================  
# Windows
# =====================================  
Thumbs.db
ehthumbs.db
Desktop.ini
# =====================================  
# macOS
# =====================================  
.DS_Store
.AppleDouble
.LSOverride
# =====================================  
# Linux
# =====================================  
*.swp
*.swo

# =====================================
# BACKUP / TEMP FILES
# =====================================  

*.bak
*.old
*.orig
*.log
*~
*.temp
*.cache

# =====================================
# SQL / SSMS
# =====================================

*.sql_autosave
*.sql~*
*.sql_bak
*.diaglog

# =====================================
# GITHUB / MISC
# =====================================
*.tgz
*.zip
*.7z
.idea/
*.iml

